*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-color: rgb(237, 237, 237);
}

svg {
    width: 40px;
    height: 40px;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh;
}
.container {
    background-color: white;
    max-width: 50vw;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    padding: 5vh;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
img{
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    border  : 3px solid ; 
    border-color: rgb(237, 237, 237);
}
.description {
    max-width: fit-content;
    padding : 2.5vw 5vw ;
    text-align: center;    
}
h1 {
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    text-align: center;
}
a {
    text-decoration: none;
}

.items {
    display : flex ; 
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1vw;
}

/* Responsive */
@media(max-width:1024px){
    .items {
        flex-direction: column;
    }
    .item {
        padding: 1vw;
    }
    .container {
        max-width: 70vw;

    }
    img{
        width: 10vw;
        height: 10vw;
    }

}